<section class="my-messages-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="chat-users">
                    <div class="users-tabs">
                        <ul>
                            <li [ngClass]="{'active': postedTaskIndicator}" (click)="getTaskByPoster()"><span>As Poster</span></li>
                            <li [ngClass]="{'active': !postedTaskIndicator}" (click)="getTaskByDoer()"><span>As Worker</span></li>
                        </ul>
                    </div>
                    <div class="chat-user-list">
                        <ul>
                            <li *ngFor ="let taskList of TaskList">
                                <div class="chat-user-info">
                                    <div class="chat-user-img">
                                        <img src="{{taskList.task_assigned_user.profile_image}}"
                                            alt="">
                                    </div>
                                    <div class="chat-user-detail">
                                        <h3>{{taskList.task_assigned_user.first_name}} {{taskList.task_assigned_user.last_name}}</h3>
                                        <p>{{taskList.title}}</p>
                                    </div>
                                </div>
                            </li>
                            <li class="active">
                                <div class="chat-user-info">
                                    <div class="chat-user-img">
                                        <img src="https://www.pngitem.com/pimgs/m/512-5127328_girls-girly-art-hd-png-download.png"
                                            alt="">
                                    </div>
                                    <div class="chat-user-detail">
                                        <h3>Joh Doe</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="user-chat-block">
                    <div class="usr-chat-title">
                        <h3>Lorem Ipsum is dummy text</h3>
                    </div>
                    <div class="usr-chat-panel chat-body">
                        <div class="usr-chatting-box">
                            <div class="answer left">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer left">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer left">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                            <div class="answer right">
                                <div class="avatar">
                                    <div class="avatar-img"><img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt=""></div>
                                </div>
                                <div class="name">Alexander Herthic</div>
                                <div class="text">
                                    Lorem ipsum dolor amet, consectetur adipisicing elit Lorem ipsum dolor amet,
                                    consectetur adipisicing elit Lorem ipsum dolor amet, consectetur adiping elit
                                </div>
                                <div class="time">5 min ago</div>
                            </div>
                        </div>
                        <div class="usr-chatting-input">
                            <input type="text" placeholder="Type here...">
                            <button class="btn-send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>