<div class="sub-banner profile-banner">

	<div class="browse-menu profile-banner">
		<div class="container">
			<ul>
				<li [ngClass]="{'mega-menu-active': true}"><a [routerLink]="['/dashboard']">Dashboard</a>
				</li>
				<li><a [routerLink]="['/payment/history']">Payment history</a></li>
				<li><a [routerLink]="['/payment/payment-methods']">Payment methods</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="profile-main-content">
	<div class="container">

		<div class="row">
			<div class="profile-complete-box">
				<div class="profile-counter" *ngIf="dashboardData">
					<h4>Your profile is {{totalPercentage | number : '1.2-2'}} % complete</h4>
				
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 head-pro text-center">
					<h3>My task summary</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="profile-tabs">
						<div class="card-profile" *ngIf="dashboardData">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" [ngClass]="{'active': posterIndicator}">
									<a (click)="getTaskSummary('Poster')">As poster</a>
								</li>
								<li role="presentation" [ngClass]="{'active': !posterIndicator}">
									<a (click)="getTaskSummary('Worker')">As tasker</a>
								</li>
							</ul>


							<div class="post-worker-info tab-content" *ngIf="posterIndicator == true">
								<div> 
									<a (click)="redirectToMyTask('postedTask' , 'open')">
										Task posted : {{dashboardData.user_Task_Summary.as_poster.posted_offers}}
									</a> 
								</div>
								<div>
								     <a (click)="redirectToMyTask('postedTask', 'assigned')">
										Task in progress:
										{{dashboardData.user_Task_Summary.as_poster.assigned + dashboardData.user_Task_Summary.as_poster.completed_from_doer}}
								
								      </a>
							    </div>
								<div>
									<a (click)="redirectToMyTask('postedTask', 'reopen')">
										Reopen : {{dashboardData.user_Task_Summary.as_poster.reopen}}
									</a>
								</div>
								<div>
									<a (click)="redirectToMyTask('postedTask', 'completed')">
										Completed : {{dashboardData.user_Task_Summary.as_poster.closed}}
									</a>
								</div>
						</div>
							<div class="post-worker-info tab-content" *ngIf="posterIndicator == false">
								<div>
									<a (click)="redirectToMyTask('offerPending', 'open')">
										Offered task : {{dashboardData.user_Task_Summary.as_doer.posted_offers}}
									</a>
								</div>
								<div>
									<a (click)="redirectToMyTask('offerAccepting', 'assigned')">
										Task assigned : {{dashboardData.user_Task_Summary.as_doer.assigned}}
									</a>
								</div>
								<div>
								<a (click)="redirectToMyTask('offerAccepting', 'completed')">
								     completed : {{dashboardData.user_Task_Summary.as_doer["completed "]   }}
								</a>
								</div>
								<div><a (click)="redirectToMyTask('offerAccepting', 'completed from doer')">
									Completed from tasker : {{dashboardData.user_Task_Summary.as_doer.awaitingPayment}}
									
								</a>
								</div>
								
							</div>
						
						
						<!-- <div class="recent-profile-activity">
							 <notification-browse-task></notification-browse-task> 
						</div> -->




					</div>

				</div>
			</div>

		</div>

	</div>